<div class="box">
    <div class="header">
        <h1>shop</h1>
    </div>
    <div class="section">
        <shop-car
                ng-repeat="item in productItems"
                item="item"
                index="{{$index}}"
                ></shop-car>
        <div class="cho">
            <p>
                <span class="all" ng-class="{on:flag}" ng-click="checkAll(flag)"></span>
                <span>全选</span></p>

            <p>
                <span class="total">合计：<span class="money">￥{{sum}}</span></span>
                <span></span><span>(不含运费)</span>
            </p>

            <p class="buy">结算{{count}}</p>
        </div>
    </div>
    <div class="footer">
        <h1>footer</h1>
    </div>
</div>